body {
	background-color: #fafafa;
}

.main-h1 {
	text-align: center;
	margin: 50px 0;
	font-size: 38px;
}

textarea {
	width: 100%;
	height: 200px;
	resize: none;
	outline: none;
	font-size: 18px;
}

#book {
	height: 100px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
}

select {
	height: 30px;
}

input {
	outline: none;
}

button {
	display: block;
	width: 100%;
	height: 45px;
	background-color: #2d6a3f;
	color: #fff;
	font-size: 20px;
	outline: none;
	margin-top: 10px;
	border: 0;
}

.execute-btn:hover {
	opacity: 0.8;
}

.p-error {
	color: red;
	text-align: center;
	font-size: 16px;
}

.a-b-c {
	width: 50px;
}
